/* 全体の背景色とパディング */
.Confirmation-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5; /* 淡いグレー */
}

/* ヘッダー行のスタイリング */
.header-row {
    margin-bottom: 20px;
    background-color:rgb(18, 122, 216); /* 濃い青 */
    padding: 15px;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.text{
    font-size: 20px;
}